body{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url(../image/hero-bg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;

}
.logo{
     font-weight: 700;
     font-size: 24px;
     color: #fff;
     margin-left: 30px;
    }
    .itemList{
    padding: 5px 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    }
    .taskBar{
        display: flex;
        justify-content: right;
        margin-left: 450px;
        margin-top: 10px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .middleContainer{
        display: flex;
    }
    #photo{
        width: 550px;
    }
    .title{
     font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #fff;
    margin-left: 40px;
    }
    .description{
    color: #fefefe;
    font-size: 14px;
    margin-left: 30px;
    }
    .middleSpace{
        margin-left: 100px;
    }
    .btn button{
    
    padding: 10px 15px;
    background-color: #00bbf0;
    color: #fff;
    border: none;
    margin-left: 32px;
    margin-top: 25px;
    width: 150px;
    height: 40px;
    margin-bottom: 20px;
    transition-duration:0.3s ;
}
.btn button:hover{
    filter: brightness(0.8);
}


.rightDiv{
    margin-right: 50px;
    
}    
.leftDiv{
    margin-left: 50px;
}
.description p{
    font-size: 18px;
    padding-right: 180px;
}
.taskBar .itemList a{
    color: white;
    text-decoration: none;
    transition-duration: .3s;
}
.taskBar .itemList a:hover{
    color: #00bbf0;
}
.color{
    color: #00bbf0 !important;
}
