body{
    padding: 0;
    margin: 0;
    color: white;
}
.fl{
      background-image: url(../imgs/wallpaperflare.com_wallpaper.jpg); 
      height: 100vh;
      background-position: center;
      background-size: cover;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.container label b{
    display: block;
    color: #191611;
    font-size: 25px;
    font-weight: bolder;
}
.container input{
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border: 0;
    background-color: #858c9f70;
    border-bottom: 3px solid #1b1714;
}
.to{
    text-align: center;
}
.to button{
    border: 0;
    padding: 10px 40px;
    background-color: #ffffff40;
    font-size: 18px;
    transition-duration: .3s;

}
.container input:focus{
    outline-style: none;
    background-color: #ffffff40;
}
.to button:hover{
    filter: brightness(.8);
}
input::placeholder{
    color: black;
    font-size: 15px;
}
/* ali */
/* nav */
.nav{
    overflow: hidden;
    background-color: #231a6f;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.logo{
    padding: 11px 32px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.nav li{
    list-style: none;
    float: left;
}
.left{
    float: right;
}
.nav li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 16px 32px;
    transition-duration: .3s;
}
.nav li a:hover{
    color: #00bbf0;

}
.special{
    color: #00bbf0 !important; 
}
/*  */
.footer{
    background-color: #00204a;
    color: white;
    padding: 30px 0
}
.parts{
    display: flex;
}
.part{
    width: 25%;
    padding: 0% 2%;
}
.icons{
    width: 13px;
    margin-right: 10px;
}
.part ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.part li h3{
    font-size: 24PX;
}
.part ul li:last-child{
    margin-top: 10px;
}
.part ul li:last-child img{
    transition-duration: .5s;
}
.part ul li:last-child img:not(:nth-child(1)){
    width: 20px;
    margin-left: 10px;
}
.part li:not(:nth-child(1)):hover{
    color: #00bbf0;
}
.part li a{
    color: white;
    text-decoration: none;
}
.part li a:hover{
    color: #00bbf0;
}
.part li:last-child img:hover{
    transform: rotate(360deg);
}
.part input{
    border: 0;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    color: white;
    border-bottom: .2px white solid;
    padding: 8px 0px;
}
.ffff::placeholder{
    color: white;
}
.part input:focus{
    outline-style: none;
}
.part ul .sub{
    background-color: #00bbf0;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 55px;
    margin-top: 18px;
}
.part ul .sub:hover{
    color: white;
    filter: brightness(0.8);
}