body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 19px;
}
.contaner{
    padding: 0px 15px;
    margin: 0px auto;
}
@media(min-width:768px){
    .contaner{
        width: 750px;
    }
}
@media(min-width:992px){
    .contaner{
        width: 970px;
    }
}
@media(min-width:1200px){
    .contaner{
        width: 1170px;
    }
}
/* start nav */
.nav{
    overflow: hidden;
    background-color: #231a6f;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.logo{
    padding: 11px 32px;
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.nav li{
    list-style: none;
    float: left;
}
.left{
    float: right;
}
.nav li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 16px 32px;
    transition-duration: .3s;
}
.nav li a:hover{
    color: #00bbf0;

}
.special{
    color: #00bbf0 !important; 
}
/* end nav */
/* start team */
.team{
    background-color: #00204a;
    text-align: center;
    padding: 75px 0 1px;
}
.team h1{
    margin: 0;
    color: white;
}
.team h1 span{
    color: #00bbf0;
}
.cont{
    padding: 0px 30px;
}
.parts{
    margin: 50px 0;
    display: flex;
}
.part-team{
    width: calc(100% / 4);
    margin-left: 2%;
    background-color: #002759;
    padding: 20px 0;
}
.part-team h3{
    color: #00bbf0;
    margin-bottom: 0;

}
.part-team .team-img{
    border-radius: 50%;
    border: 5px white solid;
    width: 30%;
}
.part-team p{
    color: white;
    margin-top: 10px;
}
.icons{
    width: 20px;
    margin: 0 calc(3% + 2px);
}
i img:first-child{
    width: 10px;
}
/* end team */
/* start footer */
.footer{
    background-color: #00204a;
    color: white;
    padding: 30px 0
}
.parts{
    display: flex;
}
.part{
    width: 25%;
    padding: 0% 2%;
}
.icons{
    width: 13px;
    margin-right: 10px;
}
.part ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.part li h3{
    font-size: 24PX;
}
.part ul li:last-child{
    margin-top: 10px;
}
.part ul li:last-child img{
    transition-duration: .5s;
}
.part ul li:last-child img:not(:nth-child(1)){
    width: 20px;
    margin-left: 10px;
}
.part li:not(:nth-child(1)):hover{
    color: #00bbf0;
}
.part li a{
    color: white;
    text-decoration: none;
}
.part li a:hover{
    color: #00bbf0;
}
.part li:last-child img:hover{
    transform: rotate(360deg);
}
.part input{
    border: 0;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    color: white;
    border-bottom: .2px white solid;
    padding: 8px 0px;
}
::placeholder{
    color: white;
}
.part input:focus{
    outline-style: none;
}
.part ul .sub{
    background-color: #00bbf0;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 55px;
    margin-top: 18px;
}
.part ul .sub:hover{
    color: white;
    filter: brightness(0.8);
}
/* end footer */